<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
<form class="form-user-upd" action="{{ url_for("root.user_update_submit") }}" method="post">
    <label style="display: none">
        <input style="display: none" name="id" value="{{ id }}"/>
    </label>
    <h3>修改用户信息</h3>
    <label for="username">用户名:</label>
    <input value="{{ username }}" type="text" id="username" name="username" required>
    <br>
    <label for="password">密码:</label>
    <input value="{{ password }}" type="password" id="password" name="password" required>
    <label for="yue">余额:</label>
    <input value="{{ yue }}" type="number" id="yue" name="yue" required step="0.01">
    <label>
        <select name="permission">
            <option {{ root_user }} value="1">超级用户</option>
            <option {{ dc_user }} value="2">普通用户</option>
        </select>
    </label>
    <br>
    <p>{{ hint }}</p>
    <input type="submit" value="修改">
    <a href="{{ url_for('root.main') }}"><button type="button">取消</button></a>
</form>
</body>
</html>