<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    <form class="form-reg" action="{{ url_for("registration_submit") }}" method="post">
        <label for="username">用户名:</label>
        <input type="text" value="{{username}}" id="username" name="username" required>
        <br>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required>
        <label for="password2">确认密码:</label>
        <input type="password" id="password2" name="password2" required>
        <br><p>{{hint}}</p>
        <button type="submit">注册</button>
        <a href="{{ url_for('home') }}"><button type="button">取消</button></a>
    </form>
</body>
</html>